<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ pkg.name }}</title>
		<base href="/">
		<link rel="stylesheet" href="{{ files.css | assetUrl }}" />
	</head>
	<body ng-app="{{ pkg.name }}" ng-strict-di ng-controller="GameController as game">
		<main ng-cloak>
			<p class="paused" ng-if="!game.running && !game.lost"><span class="fa fa-pause"></span> Paused</p>
			<p id="next-wave" ng-if="game.next && !game.lost"><span class="fa fa-clock-o"></span> Next wave in <span ng-bind="game.next"></span>s</p>
			<p id="lost" ng-if="game.hasLost"><span class="fa fa-power-off"></span><br/>Game over<br/><small>(press F5 to restart)</small></p>
			<canvas ng-controller="MainController"></canvas>
		</main>

		<aside ng-cloak>
			<fieldset>
				<legend>Game</legend>
				<div class="button-group">
					<button class="button" type="button" ng-show=" game.running" ng-click="game.pause()"><span class="fa fa-pause"></span> Pause</button>
					<button class="button" type="button" ng-show="!game.running" ng-click="game.pause()"><span class="fa fa-play"></span> Continue</button>
					<button class="button" type="button" ng-show="!game.running" ng-click="game.stepFrame()"><span class="fa fa-step-forward"></span> Step</button>
				</div>
			</fieldset>
			<fieldset class="fill">
				{% raw %}
				<legend>Build</legend>
				<ul class="building-grid">
					<li ng-repeat="building in ::game.buildings">
						<div class="building" ng-attr-title="{{ ::building.name }}" ng-click="game.setBuilding($index)">
							<img ng-src="assets/{{ ::building.icon }}"/>
							<p><span class="fa fa-money"></span> <span ng-bind="::building.cost"></span></p>
						</div>
					</li>
				</ul>
				<div class="description" ng-if="game.selectedBuilding">
					<h2 ng-bind="game.selectedBuilding.name"></h2>
					<p ng-bind="game.selectedBuilding.description">
				</div>
				{% endraw %}
			</fieldset>
			<fieldset>
				<legend>Info</legend>
				{% raw %}
				<div class="grid-x">
					<div class="small-4 cell">
						<p><span class="fa fa-money"></span> {{ game.money }}</p>
					</div>
					<div class="small-4 cell">
						<p><span class="fa fa-optin-monster"></span> {{ game.lives }}</p>
					</div>
					<div class="small-4 cell">
						<p><span class="fa fa-hashtag"></span> 1</p>
					</div>
				</div>
				{% endraw %}
			</fieldset>
		</aside>

		<script src="{{ files.libs | assetUrl }}"></script>
		<script src="{{ files.js | assetUrl }}"></script>
		<script src="{{ 'js/data.min.js' | assetUrl }}"></script>
	</body>
</html>
